.text-center{
    text-align: center;
}
.bg-red{
    background: red;
}
.mx-auto{
    margin: auto;
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}

.items-center{
    align-items: center;
}
.row input{
    margin: 0;
    padding: 0;
}
